<div class="jumbotron">
  <h1>Shoes Shoes Shoes!</h1>
  <p class= "lead">Need to manage some shoes and/or shoe stores? You've come to the right place.</p>
</div>

<div class="row1">
  <div class="col-sm-4 col-sm-offset-1">
    <h2>Brands</h2>
    <p>View, add to or update your shoe brands.</p>
    <p><a class="btn btn-default btn-lg" href="/brands">Go to Brands</a></p>
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <h2>Stores</h2>
    <p>View, add to or update your shoe stores.</p>
    <p><a class="btn btn-default btn-lg" href="/stores">Go to Stores</a></p>
  </div>
</div>
