.jumbotron {
  text-align: center;
  background-color: none;
}

.jumbotron h1 {
  color: #ff9933;
}

h1 {
  color: #ff9933;
}

.row {
  margin-top: 2em;
  margin-bottom: 1em;
}

.footer {
  text-align: center;
  margin-top: 4em;
}
